In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:

from pyBKT.models import Model

In [8]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DataSets/ct.csv", encoding='latin-1')
df.head()

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1576,1927,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity1,2006-11-14 10:18:00.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,5.00000,5.00000,NaN,1,0,0,1,Calculate unit rate,1
1,1580,1931,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity2,2006-11-14 10:18:11.0,2006-11-14 10:18:17.0,2006-11-14 10:18:34.0,2006-11-14 10:18:34.0,23.00000,NaN,23.00000,0,1,0,1,Calculate unit rate,2
2,1596,1947,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity1,2006-11-14 10:50:52.0,2006-11-14 10:50:57.0,2006-11-14 10:51:11.0,2006-11-14 10:51:11.0,18.00000,NaN,18.00000,0,1,0,1,Calculate unit rate,3
3,1597,1948,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity2,2006-11-14 10:51:11.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,3.00000,3.00000,NaN,1,0,0,1,Calculate unit rate,4
4,1612,1963,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-054,1,SimplifiedNumeratorQuantity2,2006-11-28 09:53:43.0,2006-11-28 09:53:47.0,2006-11-28 09:53:56.0,2006-11-28 09:53:56.0,13.00000,NaN,13.00000,0,1,0,1,Calculate unit rate,5

In [11]:
df['Anon Student Id'].value_counts()

Anon Student Id
1T4w47X         84
271np4zc8vd1    68
171s0AHa        66
248iwnoa3       62
171TsMI6        62
                ..
271szevzza4w     3
171N6L94         2
225jFfJy6_a      2
BU25p0d          2
2711lacn64nc     1
Name: count, Length: 587, dtype: int64

In [12]:
df['KC(Default)'].value_counts()

KC(Default)
Calculate unit rate                             5273
Calculate part in proportion with fractions     3358
Calculate total in proportion with fractions    2968
Plot terminating proper fraction                1116
Plot imperfect radical                           923
Plot non-terminating improper fraction           726
Plot whole number                                590
Plot decimal - thousandths                       564
Plot pi                                          417
Finding the intersection, Mixed                  326
Finding the intersection, GLF                    317
Finding the intersection, SIF                    279
Name: count, dtype: int64

In [13]:
model = Model(seed = 42, num_fits = 1)

# Fetch Assistments and CognitiveTutor data (optional - if you have your own dataset, that's fine too!)
model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/as.csv', '.')
model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/ct.csv', '.')

In [15]:
model.fit(data_path = 'ct.csv')
print(model.params())

                                                               value
skill                                        param   class
Plot non-terminating improper fraction       prior   default 0.62942
                                             learns  default 0.12809
                                             guesses default 0.14834
                                             slips   default 0.25479
                                             forgets default 0.00000
Plot imperfect radical                       prior   default 0.27119
                                             learns  default 0.13209
                                             guesses default 0.08166
                                             slips   default 0.26630
                                             forgets default 0.00000
Plot terminating proper fraction             prior   default 0.54729
                                             learns  default 0.01561
                                             guesses default 0.32724
                                             slips   default 0.30890
                                             forgets default 0.00000
Plot pi                                      prior   default 0.66574
                                             learns  default 0.58774
                                             guesses default 0.05795
                                             slips   default 0.09277
                                             forgets default 0.00000
Plot whole number                            prior   default 0.73396
                                             learns  default 0.39668
                                             guesses default 0.67512
                                             slips   default 0.03088
                                             forgets default 0.00000
Plot decimal - thousandths                   prior   default 0.40505
                                             learns  default 0.46060
                                             guesses default 0.03752
                                             slips   default 0.37638
                                             forgets default 0.00000
Calculate unit rate                          prior   default 0.00969
                                             learns  default 0.07359
                                             guesses default 0.49350
                                             slips   default 0.13406
                                             forgets default 0.00000
Calculate part in proportion with fractions  prior   default 0.57792
                                             learns  default 0.11920
                                             guesses default 0.39990
                                             slips   default 0.13489
                                             forgets default 0.00000
Calculate total in proportion with fractions prior   default 0.45758
                                             learns  default 0.25944
                                             guesses default 0.29977
                                             slips   default 0.12692
                                             forgets default 0.00000
Finding the intersection, Mixed              prior   default 0.74062
                                             learns  default 0.07197
                                             guesses default 0.23323
                                             slips   default 0.41375
                                             forgets default 0.00000
Finding the intersection, GLF                prior   default 0.35185
                                             learns  default 0.04963
                                             guesses default 0.40403
                                             slips   default 0.13827
                                             forgets default 0.00000
Finding the intersection, SIF                prior   default 0.21704
                                             learns  default 0.12161
                                             guesses default 0.36527
                                             slips   default 0.19706
                                             forgets default 0.00000